name: CI

on:
  push:
    branches: [ main, master, stage, prod ]
  pull_request:
    branches: [ master, stage, prod ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
      - uses: tercen/actions/start-tercen@main
      - name: Run UnitTests
        run: |
          docker run --net=host --rm \
            -v $PWD:/workspace -w /workspace \
            python:3.9.17 bash -c "
              python -m pip install --upgrade pip && 
              pip3 install --force -r requirements.txt && 
              python -m unittest tests/test*
            "
        
      - name: 'Print Tercen Logs'
        if: always()  
        run: docker logs start-tercen-tercen-1 
        working-directory: ${{ github.action_path }}



